/.idea/brain-teasers.iml
/mystery-coffee/.idea/.gitignore
/.idea/.name
/mystery-coffee/Databases/2023.01/mystery coffee pairs_01_2023.txt
/mystery-coffee/Databases/2023.03/mystery coffee pairs_03_2023.txt
/mystery-coffee/Databases/2022.08/mystery coffee pairs_08_2022.txt
/mystery-coffee/Databases/2022.09/mystery coffee pairs_09_2022.txt
/mystery-coffee/Databases/2022.10/mystery coffee pairs_10_2022.txt
/mystery-coffee/Databases/2022.11/mystery coffee pairs_11_2022.txt
/.idea/misc.xml
/mystery-coffee/.idea/misc.xml
/.idea/modules.xml
/mystery-coffee/.idea/modules.xml
/mystery-coffee/.idea/mystery-coffee.iml
/mystery-coffee/Databases/2022.08/mystery_coffee_august_2022.xlsx
/mystery-coffee/Databases/2022.08/mystery_coffee_db.json
/mystery-coffee/Databases/2022.09/mystery_coffee_db.json
/mystery-coffee/Databases/2022.10/mystery_coffee_db.json
/mystery-coffee/Databases/2022.11/mystery_coffee_db.json
/mystery-coffee/Databases/2023.01/mystery_coffee_db.json
/mystery-coffee/Databases/2023.03/mystery_coffee_db.json
/mystery-coffee/Databases/2023.01/mystery_coffee_january_2023.xlsx
/mystery-coffee/Databases/2023.03/mystery_coffee_march_2023.xlsx
/mystery-coffee/Databases/2022.11/mystery_coffee_november_2022.xlsx
/mystery-coffee/Databases/2022.10/mystery_coffee_october_2022.xlsx
/mystery-coffee/Databases/2022.09/mystery_coffee_september_2022.xlsx
/.idea/inspectionProfiles/profiles_settings.xml
/mystery-coffee/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/mystery-coffee/.idea/vcs.xml
/.idea/workspace.xml
/mystery-coffee/.idea/.name
/mystery-coffee/Databases/2023.05/mystery coffee pairs_05_2023.txt
/mystery-coffee/Databases/2023.06/mystery coffee pairs_06_2023.txt
/mystery-coffee/Databases/2023.05/mystery_coffee_april_2023.xlsx
/mystery-coffee/Databases/2023.05/mystery_coffee_db.json
/mystery-coffee/Databases/2023.06/mystery_coffee_db.json
/mystery-coffee/Databases/2023.06/mystery_coffee_june_2023.xlsx
/extract-image-text/images_db/1.JPG
/extract-image-text/images_db/2.JPG
/extract-image-text/images_db/3.JPG
/extract-image-text/images_db/4.JPG
/extract-image-text/images_db/5.JPG
/extract-image-text/images_db/6.JPG
/extract-image-text/images_db/7.JPG
/extract-image-text/images_db/8.JPG
/extract-image-text/images_db/9.JPG
/extract-image-text/images_db/Capture.JPG
/extract-image-text/images_db/spill kit-300x300.jpg
/.idea/.gitignore
